body {
    font-family: 'Arial', sans-serif;
    background-color: #de80b8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    padding: 20px;
    border: 2px solid #ba3f78;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    position: relative; /* Tambahkan ini untuk posisi relatif */
}

h1 {
    color: #c14285;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #ba3f78;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c34e8c;
}

#message {
    font-size: 1.2em;
    color: #c14285;
}

.hidden {
    display: none;
}